fastapi
uvicorn[standard]
duckdb
dbt-core
dbt-duckdb
pandas
polars
pyarrow
numpy
scipy
scikit-learn
lightgbm
statsmodels
shap
apscheduler<4
httpx
joblib
matplotlib
jupyter
nbconvert
ipykernel
sentence-transformers
catboost
seaborn
